  <br>
  <h1>Apresentações de Medicamentos</h1>
  <div class="w3-section">  
    <label><font color="#333333"><b>Nome do medicamento:</b></font></label>
    <p>
      <input type="text" #nome placeholder="Ben-u-ron" required>
      <button class="button button1" (click)="getApresentacoes(nome.value)">Procurar</button>
    </p>
  </div> 
  <br>
  <div >  
    <div *ngIf="apresentacoes.length == 0">
      <font color="#333333">Não foram encontradas apresentações deste medicamento.</font>
    </div>
   <ul>
      <li *ngFor="let apresentacao of apresentacoes" font-color="#333333"> <font size="5" color="#333333"><b>Id da Apresentação: </b>{{apresentacao.id}}</font>
        <ul style="list-style-type: circle;" color="#333333">
          <li style="text-align: left;"><font color="#333333"><b>Quantidade: </b>{{apresentacao.tamanhoEmbalagem}}</font></li>
          <li style="text-align: left;"><font color="#333333"><b>Forma: </b>{{apresentacao.formaFarmaceutica}}</font></li>
          <li style="text-align: left;"><font color="#333333"><b>Concentração: </b>{{apresentacao.dosagem}}</font></li>
        </ul>
      </li>
    </ul>
  </div>
