<div class="col-md-6 col-md-offset-3">
  <h1>Procurar Receita</h1>
  <div class="w3-section">
    <label><font size="5" color="#333333"><b>ID da Receita:</b></font></label>
    <p>
      <input class="w3-input w3-border" type="text" id="id" [(ngModel)]="model.id" #id="ngModel" required placeholder="ID da receita">
      <button class="button button1" (click)="searchReceitas(id.value);">Procurar</button>
    </p>
  </div>
  <div>
    <ul>
      <li *ngIf="receita"><font size="5" color="#333333"><b>Id da Receita: </b>{{receita.id}}</font>
        <ul style="list-style-type: circle;" >
          <li style="text-align: left;"><font color="#333333"><b>Médico: </b>{{receita.medico}}</font></li>
          <li style="text-align: left;"><font color="#333333"><b>Utente: </b>{{receita.utente}}</font></li>
          <li style="text-align: left;"><font color="#333333"><b>Data de Emissão: </b>{{receita.data}}</font></li>
          <li style="text-align: left;"><font color="#333333"><b>Prescrições: </b></font></li>
          <ul>
            <li *ngFor="let prescricao of receita['prescricoes']" (click)="getPrescricao(prescricao, receita.id)" class="col">
              <font color="#333333"><b>Id: </b>{{prescricao}}</font></li>
          </ul>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="prescricao" class="prescricaoDetalhada">
      <div>
        <font size="5" color="#333333">
          <b>{{"ID da Prescrição: " + prescricao.id}}</b>
        </font>
        <p>
          <font color="#333333">{{"Apresentação: " + prescricao.apresentacao}}</font>
        </p>
        <p>
          <font color="#333333">{{"Quantidade Receitada: " + prescricao.posologiaPrescrita.quantidade}}</font>
        </p>
        <p>
          <font color="#333333">{{"Número de dias de toma: " + prescricao.posologiaPrescrita.dias}}</font>
        </p>
        <p>
          <font color="#333333">{{"Intervalo de toma (em horas): " + prescricao.posologiaPrescrita.intervalo_horas}}</font>
        </p>
        <p>
          <font color="#333333">{{"Validade: " + prescricao.validade}}</font>
        </p>
        <button class="button button1" (click)="aviar(prescricao.id, receita.id)" >Aviar Prescrição</button>
      </div>
  </div>
</div>
