<html>

  <div style="text-align: center;" class="w3-animate-zoom">
    <br><br><br>
    <font size="24"color=#333333><b>{{"Farmácia: " + farmacia}}</b></font>
    <br>
    <font size="24"color=#333333><b>Bem-vindo/a!</b></font>
  </div>

  <div class="w3-animate-bottom">
    <h2>Últimos aviamentos:</h2>
      <li *ngFor="let aviamento of aviamentos" class="rcorners1" style="text-align: left;">
        <font size="4"><b>{{"ID da Prescrição: " + aviamento.idPrescricao}} </b></font>
        <ul style="list-style-type: circle;">
          <li style="text-align: left;">Apresentação: {{aviamento.apresentacao}}</li>
          <li style="text-align: left;">Data de Aviamento: {{aviamento.dataAviamento}}</li>
        </ul>
      </li>
  </div>

</html>
