<h1>PIMMédica Farmacêutica</h1>
<nav>
 <a routerLink="/apresentacoes">Apresentações Medicamentos</a>
 <a *ngIf="userInfo && userInfo.farmaceutico" routerLink="/receitas">Receitas e Prescrições</a>
 <a *ngIf="userInfo && userInfo.farmaceutico" routerLink="/dashboard">Dashboard</a>
 <a *ngIf="userInfo && userInfo.farmaceutico" (click)="restock()">Repor Stock</a>
 <a *ngIf="!userInfo" routerLink="/login">Login</a>
 <a *ngIf="userInfo" routerLink="/login">Logout</a>
</nav>
<router-outlet></router-outlet>