<div class="col-md-6 col-md-offset-3">
  <h1>Aviar Prescrição</h1>
  <div class="w3-section">
    <label><font color="#333333"><b>ID da Receita:</b></font></label>
    <p><input type="text" readonly="readonly" data-placeholder="{{idRec}}"></p>
  </div>
  <div class="w3-section">
    <label><font color="#333333"><b>ID da Prescrição:</b></font></label>
    <p><input type="text" readonly="readonly" data-placeholder="{{idPres}}"></p>
  </div>
  <div class="w3-section">
    <label><font color="#333333"><b>Quantidade:</b></font></label>
    <p><input type="text" name="quantidadeAviada" [(ngModel)]="model.quantidadeAviada" #quantidadeAviada="ngModel" required placeholder="Numero"></p>
  </div>
  <div class="w3-section">
    <button class="button button1" (click)="aviarPrescricao(quantidadeAviada.value);">Aviar</button>
  </div>
</div>